@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2b2b2b;
    background: #f8f8f8;
}

/* Headings and logo */

header {
    background: #c70101;
    height: 100px;
    width: 100%;
}

h1, h2 {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

#logo-image {
    float: left;
    max-width: 80px;
    height: auto;
    margin: 10px;
}

#logo-text {
    float: left;
    font-size: 280%;
    text-align: center;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo-text {
    line-height: 100px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Hero image */

#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

    /* animates hero image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}